.git.local
.git.remote
flags
images
imagelist
lib
*.lnk
*.mdb
*.tmp
*.bak
*.swp
*.exe
*.dll
*.so
*.ppu
*.dcu
*.zip
*.7z
*.ico
*.dbg
tools/bugout/bugout
tools/bugout/lib/x86_64-linux/bugout.or
examples/torment/torment
examples/torment/torment.dbg
examples/torment/lib/x86_64-linux/torment.or
examples/clock/clock
examples/clock/lib/x86_64-linux/clock.or
examples/hilite/hilite
examples/hilite/lib/x86_64-linux/hilite.or
examples/hilite/hilite.dbg
examples/easer/easer.dbg
examples/easer/lib/x86_64-linux/easer.or
examples/easer/easer
examples/docker/docker
examples/docker/lib/x86_64-linux/docker.or
examples/docker/docker.dbg
examples/pandrag/pandrag.dbg
examples/pandrag/lib/x86_64-linux/pandrag.or
examples/pandrag/pandrag
