.git.local
.git.remote
flags
images
imagelist
lib
*.lnk
*.mdb
*.tmp
*.bak
*.swp
*.exe
*.dll
*.so
*.ppu
*.dcu
*.zip
*.7z
*.ico
*.dbg
tools/bugout/bugout
tools/bugout/lib/x86_64-linux/bugout.or
examples/torment/torment
examples/torment/torment.dbg
examples/torment/lib/x86_64-linux/torment.or
examples/clock/clock
examples/clock/lib/x86_64-linux/clock.or
